body {
    margin: 0;
}

.video-container {
    position: relative;
}

video {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 0; /* Change to 0 to position at the top */
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: black;
}

.text-overlay h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 1.2em;
    margin: 0;
}
