body {
background-color: lightblue;
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px; 
    margin: auto;
    overflow: hidden; 
  }

  .container2 {
    position: relative;
    width: 100%;
    max-width: 600px; 
    margin: auto; 
  }

  .image {
    width: 100%;
    height: auto; 
    display: block; 
  }

  .text-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
    color: whitesmoke;
    -webkit-text-stroke: .7px darkblue;
    font-size: 30px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;    
  }

  .shinto-slash-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: darkred;
    -webkit-text-stroke: 1.2px black;
    font-size: 60px;
    font-weight: bold
  }